#greetings {
	font-family: Consolas;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}

#secondText {
	font-family: Consolas;
	font-style: italic;
	font-size: 20px;
	text-align: center;
	opacity: 0;
}

#thirdText {
	font-family: Consolas;
	font-style: italic;
	font-size: 20px;
	text-align: center;
}

#pen {
	display: none;
	justify-content: center;
	align-items: center;
}

#trashCan {
	display: none;
	justify-content: center;
	align-items: center;
}
